#screen-block {
  position: fixed;
  inset: 0;
  background: #000;
  color: white;

  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 9999;
  text-align: center;
}

@media (max-width: 1023px), (max-height: 762px) {
  #screen-block {
    display: flex;
  }

  canvas {
    display: none;
  }
}
